# Node (Angular)
node_modules/
dist/

# IDE (IntelliJ, VSCode, Eclipse)
.idea/
.vscode/

# OS System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files (Spring Boot)
target/
build/

# Config sensibles
.env
application.properties
application.yml

# Fichiers compilés
*.class
*.jar
*.war
*.ear
